html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font: normal 27px/48px 'Open Sans', sans-serif;
	/*background: #f00;*/
}

.clr:after {
	content: "";
	display: block;
	clear: both;
}

p {
	margin: 0;
	padding: 20px 0;
}

a {
	color: #ff0000;
	text-decoration: underline;
}

a:hover {
	color: #2610ff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: black;
}

h1 {
	padding: 220px 0 24px;
	font-size: 70px;
	position: relative;
}

h2 {
	padding: 0 0 75px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.fn {
	float: none;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.tar {
	text-align: right;
}

.ucase {
	text-transform: uppercase;
}

.lcase {
	text-transform: none;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

#mainwrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-width: 1140px;
	background: #fff;
}

.resize {
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
	width: 1060px;
}

.advantage {
	position: relative;
	padding: 40px 0;
}

.advantage:before,
.advantage:after {
	content: "";
	position: absolute;
	top: 1500px;
	left: 0;
	width: 457px;
	height: 693px;
	background: url(../images/mebel_flowers_left.png) no-repeat;
	z-index: 2;
	opacity: 0.1;
}

.advantage:after {
	height: 1062px;
	width: 430px;
	top: 0;
	right: 0;
	left: auto;
	background: url(../images/mebel_flowers_right.png) no-repeat;
}

h2.redline {
	padding: 0 0 60px;
	position: relative;
	text-align: center;
	font-size: 58px;
	line-height: 85px;
	color: black;
	text-transform: uppercase;
	font-weight: normal;
}

h2.redline:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 115px;
	margin-left: -230px;
	width: 460px;
	height: 15px;
	background: url(../images/sprite.PNG) no-repeat 0 -52px;
}

.advantage h3,
.advantage p {
	color: black;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
}

.advantage h3 {
	font-size: 25px;
	text-transform: uppercase;
}

.advantage p {
	font-size: 18px;
}

.advantage ul {
	padding-top: 30px;
}

.advantage li:nth-child(odd) {
	padding: 85px 350px 85px 0;
	min-height: 170px;
	position: relative;
	text-align: right;
	list-style: none;
}

.advantage li:nth-child(even) {
	padding: 85px 0 85px 350px;
	min-height: 170px;
	position: relative;
	text-align: left;
	list-style: none;
	display: inline-block;
	vertical-align: baseline;
	background: linear-gradient(to left, #ffffff 0%, #f1f3f4 40%, #f1f3f4 60%, #ffffff 100%);
}

.advantage li:nth-child(odd) div {
	display: block;
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 30px 35px 10px 10px;
	background: linear-gradient(to left, #f1f0f0, #f1f0f0);
	border-radius: 50%;
}

.advantage li:nth-child(even) div {
	display: block;
	position: absolute;
	left: 5px;
	top: 5px;
	padding: 35px 10px 10px 35px;
	background: linear-gradient(to right, #f1f0f0, #f1f0f0);
	border-radius: 50%;
}

.advantage img {
	position: relative;
	width: 270px;
	height: 270px;
	border-radius: 50%;
}

.advantage li:nth-child(odd) div:before {
	content: "";
	display: block;
	position: absolute;
	top: 210px;
	width: 120px;
	height: 120px;
	background: linear-gradient(to top, #ef584e, #ed2e29);
	border-radius: 50%;
	z-index: 2;
}

.advantage li:nth-child(even) div:before {
	content: "";
	display: block;
	position: absolute;
	top: 210px;
	left: 200px;
	width: 120px;
	height: 120px;
	background: linear-gradient(to top, #ef584e, #ed2e29);
	border-radius: 50%;
	z-index: 2;
}

.advantage li:nth-child(odd) div:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 28px;
	left: 42px;
	width: 50px;
	height: 50px;
	background: url(../images/sprite.PNG) no-repeat 0 0;
	z-index: 2;
}

.advantage li:nth-child(even) div:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	background: url(../images/sprite.PNG) no-repeat 0 0;
	z-index: 2;
}

.advantage li div.icon2:after {
	background-position: -52px 0;
}

.advantage li div.icon2:after {
	background-position: -52px 0;
}

.advantage li div.icon3:after {
	background-position: -104px 0;
}

.advantage li div.icon4:after {
	background-position: -156px 0;
}

.advantage li div.icon5:after {
	background-position: -208px 0;
}

.advantage li div.icon6:after {
	background-position: -260px 0;
}

.advantage li div.icon7:after {
	background-position: -312px 0;
}

.advantage li div.icon8:after {
	background-position: -364px 0;
}

.advantage li div.icon9:after {
	background-position: -416px 0;
}

.free_spa {
	padding: 89px 0 74px;
	background: url("../images/mebel_free_spa_bg1.jpg") no-repeat center center;
	background-size: cover;
}

.spa_shape {
	margin: 0 auto;
	width: 1000px;
	background: rgba(0, 0, 0, 0.7);
}

.spa_shape:after {
	content: "";
	display: block;
	clear: both;
}

.spa_shape h2 {
	margin: 0 10px;
	padding: 15px 0 30px;
	text-align: center;
	font: normal 46px/52px 'Open Sans', sans-serif;;
	color: #fff;
	text-transform: uppercase;
}

.spa_shape h2:first-line {
	text-align: center;
	font: 300 37px/48px 'Open Sans', sans-serif;
	text-transform: none;
	color: #fff;
}

.spa_list {
	margin: 0;
	padding-bottom: 50px;
	float: left;
}

.spa_list li {
	display: block;
	position: relative;
	padding-left: 30px;
	text-decoration: none;
	font: 300 20px/28px 'Open Sans', sans-serif;
	color: #fff;
}

.spa_list li:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	top: 12px;
	left: 3px;
	background: red;
}
.form_cover {
	float: right;
}
.form {
	/*float: right;*/
	padding: 18px 32px 0;
	border-left: 4px solid red;
}
.mebel_info_form .form{
	border: none;
	padding-bottom: 30px;
}
.form input {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 1px;
	box-sizing: border-box;
	width: 100%;
}

.form input:focus {
	border: 1px solid red;
}

.form input:hover {
	border: 1px solid red;
}

.form p {
	margin: 0 auto;
	padding: 0 0 15px;
}
.form p label {
	display: block;
	line-height: 30px;
	/*padding-bottom: 8px;*/
}

.form .button {
	padding-top: 20px;
	padding-right: 110px;
	padding-bottom:0;
}

.form .spa_button {
	padding: 5px 25px 7px;
	border-radius: 1px;
	font: normal 20px/30px 'Open Sans', sans-serif;
	color: white;
	background: red;
}
.mebel_info_form .form .button {
	padding-right:109px;
}

/*header by aleksandr_golyk*/
header {
	padding-top: 30px;
	padding-bottom: 27px;
}

.top_line {
	display: block;
	position: relative;
	background: white;
}

.top_line li {
	list-style-type: none;
}

.top_line_logo {
	float: left;
}

.top_line_contact {
	float: right;
}

.top_line_contact p{
	padding:0;
}

.top_line_contact a{
	text-decoration: none;
}

.top_line_contact p:first-child a{
	padding: 0;
	text-align: center;
	font: normal 23px/40px 'Open Sans', sans-serif;
	color: #333;
}


.top_line_contact p:not(:first-child) {
	display: block;
	padding: 9px 0;
	/*padding: 9px 0;*/
	width: 100%;
	border: solid 2px #ec2026;
	font: normal 13px/15px 'Open Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.top_line_contact:after {
	position: absolute;
	content: "";
	clear: both;
}

.mebel_tur {
	margin: 0 auto;
	padding: 26px 0 74px;
	background: url("../images/header_picture.jpg") no-repeat center center;
	background-size: cover;
	/*background: rgba(0,0,0,0.7);*/
}

.mebel_tur:after {
	content: "";
	display: block;
	clear: both;
}

.mebel_tur h2 {
	margin: 0 10px;
	padding: 33px 0 0 0;
	text-align: center;
	font: normal 72px/91px 'Open Sans', sans-serif;;
	color: #333;
	text-transform: uppercase;
}

.mebel_tur_tittle p {
	padding: 0;
	text-align: center;
	font: bold 27px/40px 'Open Sans', sans-serif;
	color: #333;
	text-transform: uppercase;
}

.mebel_tur span {
	display: block;
	padding-bottom: 32px;
	text-align: center;
	font: normal 23px/35px 'Open Sans', sans-serif;
	color: #333;
	text-transform: uppercase;
}

.mebel_tur_tittle {
	background: white;
	opacity: 0.7;
	background-size: cover;
}

.mebel_info_form {
	padding-top: 39px;

}

.mebel_info_form h3 {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

.mebel_zayavka {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.forma {
	margin: 0 auto;
	padding-top: 35px;
	width: 433px;
	background: rgba(0, 0, 0, 0.7);
}

.forma h3 {
	padding-bottom: 24px;
	font: normal 23px/28px 'Open Sans', sans-serif;
}

.mebel_zayavka ul {
	padding-left: 30px;
}

.mebel_zayavka li {
	float: left;
	position: relative;
	padding-left: 20px;
	text-decoration: none;
	list-style-type: none;
	font: bold 18px/29px 'Open Sans', sans-serif;
	color: #fff;
}

.mebel_zayavka li:before {
	display: block;
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	left: -8px;
	top: 13px;
	background: #ec2026;
}

.mebel_form {
	padding-top: 30px;
}